!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield


-# !!!
-# %html
-#   %head
-#     :css
-#       .turbolinks-progress-bar {
-#           position: fixed;
-#           display: block;
-#           top: 0;
-#           left: 0;
-#           height: 3px;
-#           background: #0076ff;
-#           z-index: 9999;
-#           transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
-#           transform: translate3d(0, 0, 0);
-#           }
-#     %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
-#     %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %title
-#       ChatSpaceSample
-#     %meta{:content => "authenticity_token", :name => "csrf-param"}/
-#     %meta{:content => "4Bc1VgqUO8T/nZ2ihUfj8JUABU6d0MnHdMGBqeaZVnortWAz+TWww57p8sQSZVb1Bee/cOH9JXa2WULk3fovPg==", :name => "csrf-token"}/
-#   %body